body
{
    direction: rtl;
    margin : 0px auto;
}
.container
{
    width: 900px;
    margin: 0 auto;
    padding-bottom: 30px;
}
    header
{
    text-align: center;
    background-color:grey;
}
#search 
{
    margin-right:50%;
   
}
#english 
{
    color:white;
    margin-left:1cm;
}
#search1
{ 
    display: inline;
   border-top-right-radius: 12px;
   border-style: none;
  
}
#glass 
{
    display:inline;
   
}
#menus
{
    image-rendering: auto;
    justify-content:center;
    display: inline-flex;
}
#menus>ul>span
{
    color:white;
    font-weight:bold;
    font-size: 15px;
}
header>#logo
{
    position: absolute;
    top: 0.5cm;
    right: 6.5cm;
}