
.line_form
{
    display: flex;
    justify-content: space-between;
    width:195px;
    
}
.line_form>input[type="text"]
{
    width:95px;
}
.line_form>input[type="tel"]
{
    width:95px;
}
.line_form>input[type="email"]
{
    width:95px;
}
.blue-btn:hover
{
    cursor: pointer;
    background-color: yellow;
    color:black;
    border-style: groove;
    margin-right: 72%;
    
}
.blue-btn
{
    background-color: blue;
    color:white;
    border-style: groove;
    margin-right: 72%;
}

.form {
    
    background-image: linear-gradient(#FEFEFE, #CCCCCC);
    width:320px;
    padding-left:6px;
    padding-right: 18px;
    border-top-right-radius: 10px;
    border-style: solid solid none solid;
    border-width: 1px;
    border-color: #CCCCCC;
    float: right;
}
.form_contents
{
    padding-right: 1.3cm;
}
.info 
{
    border-top-right-radius: 10px;
    background-image: linear-gradient(#FEFEFE, #CCCCCC);
    float: right;
    width: 292px;
    margin-top: -8px;
    margin-right:2cm;
    border-style: solid solid none solid;
    border-width: 1px;
    border-color: #CCCCCC;
}
#info2
{
    margin-top:20px;
}
textarea
{
    margin-top:10px;
}

.aleft {
    width: 0; 
    height: 0; 
    margin-top:11px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    float:right;
    border-right:5px solid blue; 
  }
  #sidemenu {
    
    width: 120px;
    float: right;
    text-align: right;
    background-image: linear-gradient(#FEFEFE, #CCCCCC);
    margin-top: 12px;
    margin-right: 10cm;
   border-top-style:ridge;
   font-size:18px;
   line-height: 32px;
}
#sidemenu>a
{
    color:black;
    text-decoration: none;
}
#sidemenu:hover>a
{
    color:blue;
    text-decoration: underline;
}
#menu_blue2
{
    background: url("./assests/menu_home.png") no-repeat center left;
    padding:8px;
    width:20px;
    height: 20px;
}
#menu_blue2:hover
{
    background: url("./assests/menu_home_blue.png") no-repeat center left;
    padding:8px;
    width:20px;
    height: 20px;
}
.title2>h1
{
    width:414px;
    font-size:15px;
    border-bottom: 1px solid #cbcbcb;
    margin-right:4px;

}
#contact
{
    margin-top:12px;
    margin-right:14.8cm;
}
.about_addemtum
{
    margin-left: 465px;
}